@font-face {
    font-family: "fzzy";
    src: url(assets/font.ttf);
}

html,
body {
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    font-family: "fzzy";
    font-size: 14px;
}

html {
    overflow-y: hidden;
}

p {
    margin: 0;
    text-align: justify;
}

ul {
    position: relative;
    margin: 0;
    padding: 0 3%;
    list-style: none;
}

hr {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    border: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px #2acffe;
}

.main {
    display: none;
    position: relative;
    padding-top: 3%;
    background-color: #040b11;
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.end {
    background-image: url(assets/bg_end.jpg);
    background-size: 100%;
}

.more {
    opacity: 0;
    padding: 50% 0;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 0px 0px 5px #2acffe;
}

.dialog {
    opacity: 0;
    position: relative;
}

.dialog li:before {
    content: " ";
    display: table;
}

.dialog li:after {
    content: " ";
    display: table;
    clear: both;
}

.dialog li:nth-child(odd) p {
    float: right;
}

.dialog li:nth-child(even) p {
    float: left;
}

.dialog p {
    display: block;
    margin: 10% auto;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0px 0px 5px #2acffe;
}

.dialog li:nth-child(odd) span {
    margin-right: 1em;
    float: right;
}

.dialog li:nth-child(even) span {
    margin-left: 1em;
    float: left;
}

.dialog li span {
    display: block;
    margin: 10% 0;
    width: 2.4em;
    height: 1.4em;
    background-image: url(assets/bg_time.png);
    background-repeat: no-repeat;
    background-size: auto 400%;
    animation: flash 2s linear infinite alternate;
}

@-webkit-keyframes flash {
    form {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes flash {
    form {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.dialog img {
    display: block;
    margin: 0 auto;
    width: 0;
    transform-origin: center;
}

.start p {
    opacity: 0;
    margin: 5% auto;
    text-align: center;
    color: #fff;
    line-height: 1.5em;
    text-shadow: 0px 0px 5px #2acffe;
}

.start img {
    opacity: 0;
}

.start .title {
    font-size: 1.8em;
}

.start .desc {
    font-size: 1.2em;
}

.pic-earth {
    margin-bottom: -1%;
    width: 100%;
}

.pic-qt {
    position: fixed;
    bottom: 10%;
    left: 3%;
    width: 45%;
    max-width: 250px;
    animation: float 2s ease-in-out infinite alternate;
}

.pic-logo {
    position: absolute;
    bottom: 0.5%;
    left: 25%;
    width: 50%;
    max-width: 250px;
}

.pic-arrow {
    position: fixed;
    top: 5%;
    left: 60%;
    width: 10%;
    max-width: 100px;
    animation: float 2s linear infinite alternate;
}

@-webkit-keyframes float {
    form {
        -webkit-transform: translateY(30%);
    }
    to {
        -webkit-transform: translateY(-30%);
    }
}

@keyframes float {
    form {
        transform: translateY(30%);
    }
    to {
        transform: translateY(-30%);
    }
}

.paint {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 600px;
    background-color: #040b11;
    background-image: url(assets/bg_paint.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
}

.pic-title {
    margin: 20px auto;
    height: 15%;
}

.pic-sample {
    margin: 0 auto;
    height: 50%;
}

.btn-start {
    position: absolute;
    bottom: 2%;
    left: 20%;
    height: 10%;
}

.btn-show {
    position: absolute;
    bottom: 2%;
    right: 20%;
    height: 10%;
}

.btn-paint {
    display: none;
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 90%;
}

.btn-paint img {
    width: 100%;
}

.btn-paint a {
    position: absolute;
    top: 0;
    display: block;
    width: 25%;
    height: 100%;
}

.btn-paint a:nth-child(2) {
    margin-left: 0;
}

.btn-paint a:nth-child(3) {
    margin-left: 25%;
}

.btn-paint a:nth-child(4) {
    margin-left: 50%;
}

.btn-paint a:nth-child(5) {
    margin-left: 75%;
}

canvas {
    display: none;
    position: absolute;
    top: 20%;
    left: 10px;
}

.share {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.share img {
    width: 100%;
}
